.form_inputs div.input { width: 340px; }
.form_inputs li { padding-bottom: 4px !important; }
.form_inputs li.last { padding-bottom:0;margin-bottom:0; }
button.delete { margin-left: 6px; }
#page-details h5 { margin: 0; padding: 0; }

/* Sortable CSS */
#category-sort ol { background:none; margin-left:1em !important; }
#category-sort > ol { margin-left: 0 !important; }
#category-sort a { text-decoration: none; font-size: 13px; color:#5c5b5b; padding: 1px 1px 1px 15px; background: url('img/off.png') no-repeat left; }
#category-sort a:hover { text-decoration: underline; }
#category-sort a.selected { color: black; background: url('img/on.png') no-repeat left; }
.ui-nestedSortable-error { background:#fbe3e4; color:#8a1f11; }
ol { margin: 0; padding: 0; }
ol.sortable, ol.sortable ol { margin: 0; padding: 0; list-style-type: none; cursor: default; }
ol.sortable { margin: 20px; }
.sortable li { margin: 5px 0; padding-left: 20px; }
.sortable li div  { padding: 5px 1px 5px 10px; margin: 0; cursor: move; background: #eee url('img/drag_handle_dark.gif') no-repeat 99% 50%; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.sortable li div:hover { background-color: #dbdbdb; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.sortable li.placeholder { background-color: #c2c0c0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-left: 20px; }
.plus { background: url('img/more.png') no-repeat 0 4px; }
.minus { background: url('img/less.png') no-repeat 0 4px; }
