.clear { clear:both; height: 0; line-height: 0; }
.close { width: 28px; height: 28px; display: inline-block; margin: 4px -10px 0 0; float: right; overflow: hidden; text-indent: -1000px; }
.close:hover { background: url('img/icon.close.png') no-repeat; }
#content {width: 1300px !important; padding-left: 20px !important;}
.one_half { margin-right: 22px !important; display: inline-block !important; float: none !important; }
.ui-sortable-placeholder { border:4px dashed rgba(100,100,100,0.2); margin-top: 15px; width: 617px; height: 100%; min-height: 162px; border-radius: 6px; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.section_add { border:4px dashed rgba(100,100,100,0.2); margin: 15px 22px 0 0; width: 617px; min-height: 142px; border-radius: 6px; }
.section_add section { background: url('img/additem.png') no-repeat 50% 50%; overflow: hidden; text-indent: -10000px; width: 100%; min-height: 162px; }
.section_add section:hover { opacity: 0.6; cursor: pointer; }
.legend table { width: auto !important; }
.legend table tr { border-bottom: none !important; }
.legend table td { padding: 3px !important; }