/* General */
.clear { clear: both; height: 0; line-height: 0; }
tbody tr:last-child { border: none; }
.actions { width: 115px; }

/* Form */
ul.width-half { width: 50% !important; display: block; float: left; }
ul.width-half > li { min-height: 44px; }
#price_sub, #price_ship, #price_total { min-width: 70px !important; width: 70px !important; }
#products input { width: 60px; min-width: 60px; }

/* Create */
.items { line-height: 32px; margin: 0 0 -10px 0; height: 32px; padding: 20px 0 0 0; }
.items > * { float: left; }
.items input { margin: -3px 10px 0;}
.items button { margin: -1px 0 0; }
img.image { width: 64px; height: 64px; display: block; background: url('img/none.jpg') no-repeat; background-size: 64px 64px; overflow: hidden; text-indent: -1000px; }