
.sections_bar { display: none; }
#container section#content { margin-top: 135px !important; }

.route-action { margin-right: 5px; }
.mover { width: 24px; height: 16px; display: block; cursor: move; background: url('img/drag_handle_dark.gif') no-repeat 0 0; }